<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
<div style="width: 600px; margin: auto; border: 1px #ccc solid; padding: 30px">
    <h4> Oto szczegoly naszej wspolnoty:</h4>
    <h4 th:text="${community.name}"></h4>
    <h6> Suma powierzchni wszystkich mieszkań wynosi:</h6>
    <h6 th:text="${areaSum}"></h6>
    <!--<h6> Oto lista naszych mieszkańców:</h6>-->
    <!--<table class="table">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th>Id</th>-->
            <!--<th>Imię mieszkańca</th>-->
            <!--<th>Nazwisko mieszkańca</th>-->
            <!--<th>Płeć</th>-->
            <!--<th>Nazwa wspolnoty</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr th:each="resident: ${residents}">-->
            <!--<td th:text="${resident.id}"></td>-->
            <!--<td th:text="${resident.firstName}"></td>-->
            <!--<td th:text="${resident.lastName}"></td>-->
            <!--<td th:text="${resident.gender}"></td>-->
            <!--<td th:text="${resident.gender}"></td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
    <h6> Oto lista naszych mieszkań:</h6>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa wspolnoty</th>
            <th>Numer mieszkania</th>
            <th>Powierzchnia</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="flat: ${flats}">
            <td th:text="${flat.id}"></td>
            <td th:text="${flat.community.name}"></td>
            <td th:text="${flat.number}"></td>
            <td th:text="${flat.area}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>