<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Voucher</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
<th:block th:include="header.html :: header"/>

<div style="width: 700px; margin: auto; border: 1px #ccc solid; padding: 20px">
    <h3>Business Travel ticket booking page</h3><br>
    <p>
    <h5>Generate ticket</h5>
    <span><b></b></span>
    <form action="/generated" method="post" th:object="${newTicket}">

        <div class="form-group">
            <!--<label for="login"></label>-->
            <input th:field="*{login}" type="hidden" class="form-control" id="login">
        </div>

        <div class="form-group">
            <label for="person">For person</label>
            <input th:field="*{person}" type="text" class="form-control" id="person">
        </div>

        <div class="form-row">
            <div class="col">
                <label for="from">From</label>
                <input th:field="*{fromPlace}" type="text" class="form-control" id="from">
            </div>

            <div class="col">
                <label for="to">To</label>
                <input th:field="*{toPlace}" type="text" class="form-control" id="to">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <label for="clientName">Client Name</label>
                <!--<select class="form-control" th:field="*{clientName}" >-->
                    <!--<option th:each="clientName: ${allClients}" th:text="${clientName}" th:value="${clientName}" id="clientName"></option>-->
                <!--</select>-->
                <select id="description" name="descriptio" class="form-control mb-4">
                    <option disabled="disabled" selected="selected" value="">Choose one</option>
                    <option th:each="clientName: ${allClients}" th:value="${clientName}" th:text="${clientName}"></option>
                </select>
            </div>

            <div class="col">
                <label for="travelDate">Date</label>
                <input th:field="*{travelDate}" type="date" class="form-control" id="travelDate">
            </div>
        </div>

        <div class="form-group">
            <label for="commentary">Commentary</label>
            <input th:field="*{commentaryTr}" type="text" class="form-control" id="commentary">
        </div>

        <input type="submit" value="Generate" class="btn btn-primary"/>

    </form>
</div>
</body>
</html>