<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
    <div style="width: 700px; margin: auto; border: 1px #ccc solid; padding: 20px">
        <h3> Witaj na naszej stronie zarządzania wspólnotami!</h3><br>

        <a class="btn btn-primary" href="/flatlist" role="button">Pokaz liste mieszkań</a>
        <a class="btn btn-primary" href="/commadd" role="button">Pokaz liste wspolnot</a>
        <span><br></span>
        <span><br></span>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Szczegóły wspólnoty</h5>
                        <form action="/commdetails">
                            <div class="form-group">
                                <label >Wybierz wspólnotę:</label>
                                <select class="form-control" name="name">
                                    <option th:each="community: ${communities}" th:text="${community.name}" th:value="${community.name}" id="community"></option>
                                </select>
                            </div>
                            <input type="submit" value="Show" class="btn btn-primary"/>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Szczegóły mieszkania</h5>
                        <form action="/flatdetails">
                            <div class="form-group">
                                <label >Wybierz mieszkanie:</label>
                                <select class="form-control" th:name="id">
                                    <option th:each="flat: ${flats}" th:text="${flat.id}" th:value="${flat.id}" id="flat"></option>
                                </select>
                            </div>
                            <input type="submit" value="Show" class="btn btn-primary"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Dodawanie osoby</h5>
                        <form action="/addpersontoflat">
                            <div class="form-group">
                                <label >Dodaj osobę</label>
                                <select class="form-control" th:name="residentId">
                                    <option th:each="resident: ${residents}"
                                            th:text="${resident.firstName} + ' ' + ${resident.lastName}"
                                            th:value="${resident.id}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label >Do mieszkania</label>
                                <select class="form-control" th:name="flatId">
                                    <option th:each="flat: ${flats}"
                                            th:text="${flat.id}"
                                            th:value="${flat.id}"></option>
                                </select>
                            </div>
                            <input type="submit" value="Add" class="btn btn-primary"/>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Usuwanie/Edycja</h5>
                        <form action="/createlist">
                            <div class="form-group">
                                <label >Wybierz obiekt:</label>
                                <select class="form-control" name="with">
                                    <option>wspolnota</option>
                                    <option>mieszkanie</option>
                                    <option>mieszkaniec</option>
                                </select>
                            </div>
                            <input type="submit" value="Update" class="btn btn-primary"/>
                        </form>
                        <br>
                        <form action="/modify">
                            <div class="form-group">
                                <label >Wybierz id:</label>
                                <select class="form-control" name="id">
                                    <option th:each="object: ${objects}"
                                            th:text="${object.id}"
                                            th:value="${object.id}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label >Wybierz opcję:</label>
                                <select class="form-control" name="what">
                                    <option>edytuj</option>
                                    <option>usuń</option>
                                </select>
                            </div>
                            <label for="with"><input type="hidden" th:value="${with}" class="form-control" id="with" name="with"/>
                            <!--</label><input type="hidden" value="${bookEdit.id}" class="form-control" id="with" name="with">-->
                            <input type="submit" value="Do" class="btn btn-primary"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>